{% extends 'base.html.twig' %}

{% block title %}Mon Compte - Mon Livre{% endblock %}

{% block content %}

<h1>Mon Compte</h1>
{% if is_granted('ROLE_ADMIN') %}
<small><a href="/admin"> Vous êtes un administrateur, accéder au backoffice</a></small> <br>
{% endif %}

Bienvenue {{ app.user.firstname }} dans votre espace Personnel <br>

<hr>
 <div class="row">
    <div class="col-md-4">
     <div class="account-item text-center"> <br>
            <img src="{{asset('assets/img/password-.png')}}"><br>
            <a href="{{ path('app_account_password')}}"> Modifier mon Mot de passe</a>
        
        </div>
    </div>
    <div class="col-md-4">
        <div class="account-item text-center"> <br>
        <img src="{{asset('assets/img/addressbook.png')}}"><br>
        <a href="{{ path('account_address')}}"> Gérer mes adresses</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="account-item text-center"> <br>
        <img src="{{asset('assets/img/purchase-.png')}}"><br>
        <a href="{{ path('app_account_order')}}">Mes commandes </a>
        </div>
    </div>
</div>

<hr>

{% endblock %}
