{% extends 'base.html.twig' %}
{% block carousel%} {% endblock %}

{% block content %}
 <!-- Three columns of text below the carousel -->

 <h3>Nos Best seller </h3>
 <p>Découvrez les livres les plus vendus</p>
    <div class="row">
    
    {% for product in products %}
        <div class="col-md-3">
        {% include "product/single_product.html.twig" %}
        </div>

    {% endfor %}

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">On a jamais assez de livres</h2>
        <p class="lead">Quel que soit votre univers, les nouveautés en livre vont venir étoffer votre bibliothèque.
        <br> Que vous soyez un amoureux du suspense tendu, un explorateur de mondes fantastiques ou un adepte de romances envoûtantes, nous avons le livre parfait qui attend patiemment de trouver sa place dans vos mains.</p>
      </div>
      <div class="col-md-5">
        <img src="{{ asset('assets/img/biblio.jpg')}}" class="img-fluid" style="width: 100%; height: auto;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Meilleur évasion!</h2>
        <p class="lead">Laissez-vous emporter par le doux enchevêtrement des mots qui tissent des mondes inexplorés et des personnages vivants, offrant une échappatoire à la réalité et vous transportant vers l'inconnu. <br>
         Avec chaque page tournée, vous vous échapperez non seulement du quotidien, mais vous embarquerez également pour une aventure intemporelle où l'imagination prend vie. <br>
         Laissez-nous être vos guides passionnés, prêts à vous mener à travers les méandres de la littérature, là où les rêves prennent forme et où les horizons s'élargissent à chaque ligne.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{ asset('assets/img/livre&cafe.jpg')}}" class="img-fluid" style="width:100%; height:auto;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Partagez votre passion</h2>
        <p class="lead"><br>
         Que vous soyez avide de découvertes littéraires, désireux d'échanger des idées ou simplement curieux de vous immerger dans une ambiance envoûtante, <br>Mon Livre vous ouvre ses portes.<br> Laissez les pages virtuelles s'animer et 
         forgez des liens inoubliables au sein d'une communauté où chaque mot compte. <br>
        Rejoignez notre communauté   <a href="https://www.instagram.com/" target="_blank"> <img src="{{ asset('assets/img/instagram.png')}}">
      </a>
      <a href="https://www.facebook.com/votre_page_facebook/" target="_blank"><img src="{{ asset('assets/img/facebook.png')}}"></a>  et transformez chaque lecture en une aventure partagée.</p>
      </div>
      <div class="col-md-5">
         <img src="{{ asset('assets/img/club.jpg')}}" class="img-fluid" style="width:100%; height:auto;">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

{% endblock %}